#main
  table.tasks
    thead
      tr
        th.title Title
        th.labels Labels (#)
        th.assignee Assignee (@)
    tbody
      each task in tasks
        classname = task.labels.join(' ').replace(/[^a-z ]*/gi, '').toLowerCase()
        tr(class=classname)
          td.title
            div
              a(href='/task/'+encodeURIComponent(task.title)+'/', title=task.title)= task.title
          td.labels
            div
              each label in task.labels
                a.filter(href='#', title='filter by label ('+label+')')= label
                if (label != task.labels[task.labels.length-1])
                  ,
          td.assignee
            div
              a.filter(href='#', title='filter by assignee ('+task.assignee+')')= task.assignee
