black = black

white = white
whitetint = darken(white, 10)
whitesmoke = darken(white, 30)


gray = gray
lightergray = lighten(gray, 20)
lightgray = lighten(gray, 40)


red = red
lighterred = lighten(red, 20)
lightred = lighten(red, 40)

green = green
lightergreen = lighten(green, 20)
lightgreen = lighten(green, 60)

blue = blue
lighterblue = lighten(blue, 20)
lightblue = lighten(blue, 60)

sky = #007eff
lightersky = lighten(sky, 20)
lightsky = lighten(sky, 40)

orange = orange
lighterorange = lighten(orange, 20)
lightorange = lighten(orange, 35)