global-reset()
reset-html5()

@import 'palette'
@import 'typography'
@import 'tasks'
@import 'task'

html, body
  height: 100%
  width: 100%

body
  background: #222 url(/images/bg.jpg) repeat left top
  &:before
    absolute: top 0 left 0
    background-color: transparent
    content: ' '
    display: block
    height: 10px
    width: 100%

header
  position: relative
  h1
    color: white
    font-size: 2.6em
    padding: 10px 0 0 0
    text-shadow: 0 2px 3px rgba(black, 0.5)
    &:first-letter
      text-transform: uppercase

#wrapper
  margin: 0 auto
  max-width: 940px
  padding: 0 10px
  position: relative
  text-align: left
  h2.raleway
    color: yellow
    text-shadow: 0 1px 3px black

#update
  box-shadow: 0 1px 8px rgba(black, 0.5)
  border: black solid 5px
  border-radius: 8px

@media all and (max-width:560px)
  header
    text-align: center
  #update
    float: none
