#search
  absolute: top 18px right 0
  input
    background: whitesmoke
    border: whitesmoke solid 1px
    border-radius: 4px
    box-shadow: 0 1px 3px rgba(black, 0.5)
    outline: none
    margin: 10px auto
    min-width: 250px
    padding: 5px 0
    text-indent: 10px
    transition: box-shadow 0.3s ease-in-out
    &:focus
      background: white
      border-color: lightersky
      box-shadow: 0 1px 3px rgba(black, 0.5), 0 0 8px lightersky

.tasks
  border-collapse: collapse
  width: 100%
  th
    background: desaturate(sky, 60) linear-gradient(top, desaturate(sky, 60), darken(desaturate(sky, 40), 10))
    border-bottom: darken(sky, 30) solid 1px
    box-shadow: inset 0 1px 0 rgba(white, 0.2)
    color: white
    min-width: 110px
    text-shadow: 0 1px 1px rgba(black, 0.5)
    &:first-child
      border-radius: top left 4px
    &:last-child
      border-radius: top right 4px
  tbody
    tr
      cursor: pointer
  tr
    background-color: whitesmoke
    border-bottom: whitetint solid 1px
    position: relative
    text-shadow: 0 -1px 0 rgba(white, 0.6)
    &:last-child
      border-bottom: none
      border-radius: bottom 4px
      td
        &:first-child
          border-radius: bottom left 4px
        &:last-child
          border-radius: bottom right 4px
    th
      padding: 0 10px
  td
    div
      border-left: transparent solid 5px
      max-height: 48px
      padding: 0 10px 0 5px
      overflow: hidden
      text-overflow: ellipsis

.bug:hover
  td
    background-color: lightred
    &:first-child div
      border-color: red

.todo:hover
  td
    background-color: lightgreen
    &:first-child div
      border-color: lightergreen

.fixme:hover
  td
    background-color: lightorange
    &:first-child div
      border-color: orange

.optimize:hover
  td
    background-color: lightsky
    &:first-child div
      border-color: sky

.done
  a
    text-decoration: line-through

@media all and (max-width:560px)
  #search
    position: static
    input
      width: 100%
  .labels
    display: none

@media all and (max-width:460px)
  th:first-child
    border-radius: top 4px
  .assignee
    display: none
  .tasks tr:last-child
    td:first-child
      border-radius: bottom 4px
