.task
  &.todo
    border-left: lightergreen solid 10px
  &.fixme
    border-left: orange solid 10px
  &.optimize
    border-left: sky solid 10px
  &.bug
    border-left: red solid 10px

.task
  background-color: whitesmoke
  border-radius: 4px
  box-shadow: 0 1px 3px rgba(black, 0.5)
  padding: 1em

.back
  absolute: top 30px right 0
